<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Edit User</title>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create">Create User</a>
    </div>

    <form class="form" action="/update" method="post">
        <fieldset style="padding: 12px;">
            <legend>Update</legend>
            <div class="input-group">
                <label for="">Email</label>
                <input value="<%=user?.email%>" name="email" id="email" placeholder="Nhap Email" type="text">
            </div>
            <div class="input-group">
                <label for="">Name</label>
                <input value="<%=user?.name%>" name="name" id="name" placeholder="Nhap Name" type="text">
            </div>
            <div class="input-group">
                <label for="">City</label>
                <input value="<%=user?.city%>" name="city" id="city" placeholder="Nhap City" type="text">
            </div>

            <button type="submit">Save</button>
        </fieldset>
    </form>
</body>

</html>